<%= render 'shared/banner' %>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Islands</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for <strong><%= @query %></strong>. We found <%= @islands.count %> islands out of our <%= Island.count %> on our website.</p>
      <% else %>
        <p>All <%= Island.count %> islands.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @islands.each do |island| %>
      <div class="col-4">
        <div class="island-card">
          <% if island.photo.attached? %>
            <div class="island-card-image" style="background-image: url('<%= cl_image_path island.photo.key %>')"></div>
          <% else %>
             <div class="island-card-image" style="background-image: url(<%= 'https://www.planetware.com/photos-large/SEY/best-islands-bora-bora.jpg' %>)"></div>
          <% end %>
          <div class="island-card-content">
            <div class="island-card-title">
              <h4><%= island.name %></h4>
            </div>
            <p><%= island.location %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= island.max_guests %></span>
              </div>
              <div class="flex ml-3">
                <i class="material-icons mr-2">euro_symbol</i> <%= island.price_per_night %>
              </div>
            </div>
          </div>
          <div class="island-card-actions">
            <%= link_to 'More info', island_path(island) %>
            <%= link_to 'Edit', edit_island_path(island), class: 'ml-3 text-warning' %>
            <%= link_to "Remove", island_path(island),
                method: :delete,
                data: { confirm: "Are you sure?" },
                class: 'ml-3 text-danger'
            %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
