<h1>Index</h1>

<h1>Island list!</h1>
<ul>
  <% @islands.each do |island| %>
    <li><strong>Name: <%= link_to island.name, island_path(island) %> </strong></li>
    <li><img border="0" alt="W3Schools" src="<%= island.image_url %>" width="100" height="100"></li>
    <li>Location: <%= island.location %> </li>
    <li>Description<%= island.description %> </li>
    <li>Max Guests:<%= island.max_guests %> </li>
    <li>Price per night:<%= island.price_per_night %> </li>
  <% end %>
</ol>
