<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.cntraveler.com/photos/5d83b27ee1494900093a5627/master/pass/Cebu-&-Visayan-Islands,-Philippines_GettyImages-1074254788.jpg);">
  <div class="container">
    <h1><%="#{current_user.first_name}" %>, find your <strong>perfect</strong> paradise destination!</h1>
    <p>Sort from hundreds of islands around the world.</p>
    </br>
    <div class="search-form">
    <%= form_tag islands_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an island"
  %>
  <div id="submit-button"><%= submit_tag "Search", class: "btn btn-primary" %></div>
<% end %>
</div>

  </div>
</div>

<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All available islands</h1>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <% if @query %>
        <p>You searched for '<%= @query %>'. We found <%= @islands.count %> islands out of our <%= Island.count %> on our website.</p>
      <% else %>
        <p>Displaying all <%= Island.count %> islands.</p>
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @islands.each do |island| %>
      <div class="col-4">
        <div class="island-card">
          <% if island.photo.attached? %>
            <div class="island-card-image" style="background-image: url('<%= cl_image_path island.photo.key %>')"></div>
          <% else %>
             <div class="island-card-image" style="background-image: url(<%= 'https://www.planetware.com/photos-large/SEY/best-islands-bora-bora.jpg' %>)"></div>
          <% end %>
          <div class="island-card-content">
            <div class="island-card-title">
              <h4><%= island.name %></h4>
            </div>
            <p><%= island.location %></p>
            <div class="flex">
              <div class="flex">
                <i class="material-icons mr-2">people</i><span><%= island.max_guests %></span>
              </div>
              <div class="flex ml-3">
                £<%= island.price_per_night %> per night
              </div>
            </div>
          </div>
          
          <div class="island-card-button">
            <%= link_to 'Find out more', island_path(island) %>
          </div>
        </div>
      </div>
    <% end %>
  
  </div>
</div>
