  <div class="banner-small" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.cntraveler.com/photos/5d83b27ee1494900093a5627/master/pass/Cebu-&-Visayan-Islands,-Philippines_GettyImages-1074254788.jpg);">
  <div class="container">
    <h1>Create New Island</h1>
  </div>
</div>

<div class="container p-5 mb-2 bg-white rounded" style="width: 600px;">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <%= simple_form_for (@island) do |f| %>
        <%= f.input :name, input_html: { class: "nice-class" } %>
        <%= f.input :location %>
        <%= f.input :description %>
        <%= f.input :max_guests %>
        <%= f.input :price_per_night %>
        <%= f.input :bedrooms, collection: (1..10) %>

        <div class="d-flex space-between justify-content-between flex-wrap">
          <%= f.input :gym, input_html: { class: "form-check-label"} %>
          <%= f.input :boat, input_html: { class: "form-check-label" } %>
          <%= f.input :pool, input_html: { class: "form-check-label" } %>
          <%= f.input :helicopter, input_html: { class: "form-check-label" } %>
        </div>

        <!-- Using single line instead of importing _img_form. -->
        <%= f.input :photo, as: :file%>
        <%= f.submit 'Add your Island', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
 </div>
