  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.cntraveler.com/photos/5d83b27ee1494900093a5627/master/pass/Cebu-&-Visayan-Islands,-Philippines_GettyImages-1074254788.jpg);">
  <div class="container">
    <h1>Find your <strong>perfect</strong> paradise destination!</h1>
    <p>Sort from hundreds of islands around the world.</p>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <% if @island.photo.attached? %>
        <div class="card-category" style="height:300px; background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @island.photo.key %>')">
          <h1><%= @island.name %>  🌴</h1>
        </div>
      <% else %>
        <h1><%= @island.name %>  🌴🌴</h1>
      <% end %>

<%= link_to 'edit', edit_island_path(@island) %>
<%= link_to 'Delete island', island_path(@island), method: 'delete' %>
<%= link_to "Book!", new_island_booking_path(@island) %>

    </div>
  </div>
</div>

<div class="container">
    <div id="map"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  <h3>Reviews</h3>

  <ul class="list-group">
    <% @island.reviews.each do |review| %>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <span class="badge badge-primary badge-pill">
          <% counter = 0 %>
          <% 5.times do %>
            <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
            <% counter += 1 %>
          <% end %>
        </span>
        <%= review.content %>
      </li>
      <hr>
    <% end %>
  </ul>

</div>
