<div class="banner-small p5" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://www.ecomagazine.com/images/Newsletter/0_2019/Week_11-18-19/birdseyeview_ocean.jpg');">
  <div class="container">
    <h1>Congratulations, you have booked <%= @booking.island.name %></h1>
</br>
  </div>
</div>

<div class="container">
<p>Check-in date: <%= @booking.check_in %></p>
<p>Check-out date: <%= @booking.check_out %></p>


<div id="book-button"><%= link_to 'Leave Review', new_booking_review_path(@booking) %></div>
</br>
  </br>
<%= link_to 'Back to Island', island_path(@booking.island) %>
</div>

