<div class="container">
<h1>Congratulations you have booked <%= @booking.island.name %></h1>
<p>Check-in date: <%= @booking.check_in %></p>
<p>Check-out date: <%= @booking.check_out %></p>

  <div class="container mr-2 mb-5">
    <p><strong>Want to rent a boat?</strong></p>
    <a href="http://floatifyapp.herokuapp.com/" class="btn btn-primary ">Click here!</a>
 </div>

<div id="book-button"><%= link_to 'Leave Review', new_booking_review_path(@booking) %></div>
</br>
<%= link_to 'Back to Island', island_path(@booking.island) %>
</div>

