<div class="bg-light">
<div class="container">

<h1>Your details summary for your booking:</h1>
<p>Your booked Island name: <strong><%= @booking.island.name %></strong></p>
<p><strong>Check-in date: <%= @booking.check_in.strftime("%d %b, %Y") %></strong></p>
<p><strong>Check-out date: <%= @booking.check_out.strftime("%d %b, %Y") %></strong></p>
<p>Total: £<%= (@booking.check_out - @booking.check_in).to_i * @booking.island.price_cents %></p>

<div><%= link_to 'Leave Review', new_booking_review_path(@booking),class: "btn btn-primary btn-lg mt-2" %></div>
</br>
<hr>
<br>

    <h2><strong>Rent a boat for an amazing experience</strong></h2>
    <a href="http://floatifyapp.herokuapp.com/" class="btn btn-primary mt-1">Rent a boat here!</a>
    <br>
<div>
  <br>
  <hr>
<h2>Proceed to payment if the details above are correct</h2>
  <%= form_tag booking_orders_path(params[:id]) do %>
    <%= hidden_field_tag 'booking_id', @booking.id %>
    <%= submit_tag 'Check out', class: 'btn-checkout mt-2' %>
  <% end %>
<br>

<%= link_to 'Back to Island Page', island_path(@booking.island), class: "btn btn-info mt-5 mb-5" %>
 </div>


