<div class="container">
<h1>Your details summary for your booking:</h1>
<p><%= @booking.island.name %> island</p>
<p>Check-in date: <%= @booking.check_in.strftime("%d %b, %Y") %></p>
<p>Check-out date: <%= @booking.check_out.strftime("%d %b, %Y") %></p>
<p>Total: £<%= (@booking.check_out - @booking.check_in).to_i * @booking.island.price_cents %></p>
<div id="book-button"><%= link_to 'Leave Review', new_booking_review_path(@booking) %></div>
<br>
<h2>Proceed to payment if the details above are correct</h2>
  <%= form_tag booking_orders_path(params[:id]) do %>
    <%= hidden_field_tag 'booking_id', @booking.id %>
    <%= submit_tag 'Check out', class: 'btn btn-primary' %>
  <% end %>
<br>
<%= link_to 'Back to Island', island_path(@booking.island) %>
</div>
